li.endless-pager a {
	display: block;
	padding: 5px;
	text-align: center;
	border: 1px solid #fff;
	text-decoration: none;
	font-size: 120%;
	background-color: #2763a5;
	color: #fff;
	margin-top: 20px;	
}

li.endless-pager:hover a {
	text-decoration: underline;
}